name: Publish Package to npm

on:
    push:
        tags:
            - "v**"

permissions:
    id-token: write

jobs:
    publish:
        name: Publish
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v5

            - name: Setup node
              uses: actions/setup-node@v4
              with:
                  node-version: 24

            - uses: pnpm/action-setup@v4
              with:
                  version: 10.25.0
                  run_install: true

            - run: pnpm run build

            - run: pnpm recursive publish --access public --no-git-checks
              env:
                  NPM_CONFIG_PROVENANCE: true
